<div class="row justify-content-center no-side-margin">
    <div class="col-auto heading">
        <p>Submit a Keyword with a URL.</p>
    </div>
</div>
<div class="row justify-content-center no-side-margin">
    <div class="col-auto">
        <form [formGroup]="keywordForm" (ngSubmit)="postKeyword()">
            <div class="form-row">
                <div class="col-auto">
                    <input type="text" class="form-control" formControlName="keyword" id="inputKeyword" name="inputKeyword" placeholder="keyword">
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" formControlName="url" id="inputUrl" name="inputUrl" placeholder="URL">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center no-side-margin">
    <div class="col-auto message">
        <p>In a browser address bar, navigate to goto/keyword using the keyword you submitted.</p>
        <p>You may also click on any of the keywords listed on this page.</p>
    </div>
</div>
