@import '../../colors.scss';

$darken-30: rgba(0, 0, 0, .3);
$darken-60: rgba(0, 0, 0, .6);
$darken-70: rgba(0, 0, 0, .7);
$lighten-30: rgba(255, 255, 255, .2);
$lighten-60: rgba(255, 255, 255, .6);

$message-title-font-size: 1.3rem;
$message-icon-font-size: 1.4rem;
$message-height: $message-icon-font-size * 2;

.container-fluid {
    padding: 0;
}

.message-box {
    display: flex;
    margin: 0 2rem;

    row {
        margin: 0;
    }
}

.message-item {
    border: 1px;
    height: $message-height;
    margin: .2rem 0;
    padding: 0;

    .message-title,
    .message {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    .message-title {
        font-size: $message-title-font-size;
        font-weight: 500;
    }

    .message {
        background-color: $lighten-60;

        .close {
            padding: 0;
            right: $message-icon-font-size / 2;
            top: $message-icon-font-size / 2;
        }
    }

    .close-icon {
        font-size: $message-icon-font-size;
        line-height: $message-icon-font-size;
    }
}
