<div class="container-fluid">
  <div *ngIf="messageService.messages.length" class="row sticky-top message-box">
    <div class="col alert alert-{{message.status}} alert-dismissible message-item" *ngFor='let message of messageService.messages'>
      <span class="message-title">{{message.title}}</span>
      <span class="message-message">{{message.message}}</span>
        <button type="button" class="close" (click)="messageService.close(message)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
  </div>
</div>
