<div class="container-fluid keyword-list">
    <app-keyword-detail [keyword]="selectedKeyword"></app-keyword-detail>
    <div class="row no-side-margin">
        <div class="col no-side-pad text-center">
            <h2>Keywords</h2>
        </div>
    </div>
    <div class="row no-side-margin">
        <div class="col no-side-pad">
            <ul class="keywords">
                <li class="d-flex align-items-center" *ngFor="let keyword of keywords">
                    <span class="d-flex h-100" (click)="keywordService.redirectToKeyword(keyword)">
                      <span class="d-flex h-100 keyword-badge">
                        <span class=" text-truncate ">{{keyword.keyword}}</span>
                      </span>
                      <span class="d-flex h-100 text-truncate keyword-url">
                        <span class=" text-truncate ">{{keyword.url}}</span>
                      </span>
                    </span>
                    <a href="" routerLink="/edit/{{keyword.keyword}}" class="text-decoration-none"><fa-icon [icon]="['far', 'edit']" pull="right"></fa-icon></a>
                </li>
            </ul>
        </div>
    </div>
</div>
